body {
    /*padding-top: 0px;
    padding-bottom: 20px;*/
    background-color:#444;
    color: #ddd;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
	padding-left: 5px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* HEADER BEGIN */
h1, h1 a, h1 a:hover {
	display:inline;
	font-weight:bold;
	vertical-align:central;
	text-decoration:none;
	color: #A60C00;
}
h1 a {
	color:#FFA540;
    padding-top:54px;
}

h3 {
    color: #FF7D73;
}

h5 {
    color: #65E17B;
    font-size: 14px;
    margin: 0px 138px;
}

.shared-header {
	background: #2a2a2a;
	border: solid grey 1px;
    padding-bottom: 21px;
    margin: 0px;
}

.shared-header img {
	margin: 10px;
}

#shared-menu {
	padding: 0px 150px;
    vertical-align:central;
}

#shared-menu li {
	display: inline;
	list-style-type: none;
	font-weight:bold;
    border: 1px solid grey;
    padding: 5px 0px;
}

#shared-menu .col-md-3 {
	text-align: center;
}

a {
    color: #FFA540;
}

a:hover {
    color: #A60C00
}


/* User management */
.logged-out-list, .logged-in-list {
	float: right;
	padding-top:10px;
}

/* User management */
.logged-out-list li, .logged-in-list li {
	display: inline;
	list-style-type: none;
	padding-left: 15px;
	padding-right:12px;
}
/* HEADER END */

/* The whole search box */
.search-dialog {
	margin: 20px 170px;
	position: relative;
}
/* The title of the box */
.box-title {
	width: 100%;
	padding: 7px 10px 7px 15px;
	font-size: 1.3em;
	font-weight:bold;
	border-bottom: solid grey 1px;
	background: #2a2a2a;
    color: #ddd;
	margin-bottom: 0;
}

.box-title2 {
	width: 100%;
	padding: 7px 10px 7px 15px;
	font-size: 1.3em;
	font-weight:bold;
	border: gray solid 1px;
	background: #2a2a2a;
    color: #DDD;
	margin-bottom: 0;
}

/* Left side of the search dialog */
.search-dialog-left {
	width:50%;
	padding-left: 15px;
}

/* Right side of the search dialog */
.search-dialog-right {
	width:50%;
	position:absolute;
	left:55%;
	top:0%;
}

/* Period search boxes (Frá og til)*/
.search-dialog-right input {
	width: 100px;
}
/* Search textbox */
#search-box {
	width: 500px;
	margin-bottom: 15px;
}

.flokkar label {
	padding-right: 10px;
}

/* Boxes on front page. */
.tranreq-list {
	border: solid 1px grey;
	margin: 11px;
    padding: 0px;
	height:276px;
    width: 48%;
    background: #333;
}

.rightSection.tranreq-list.col-md-6 {
	height: initial;
    width: 60%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0.5%;
    float: right;
}

.leftSection.tranreq-list.col-md-3 {
	height: initial;
    width: 37%;
    margin: 0;
    margin-right: 3%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0.5%;
    float: left;
}

.request-box {
	border: solid 1px grey;
	margin-top: 10px;
    padding: 0px;
	height:284px;
    width: 100%;
    background: #333;
}

.table {
	background: #444;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333;
}

/* Gradient on top of table*/
.table thead {
    color:#FFA540;
}

/* Setting width of column to minimum */
.table .min {
	width: 10px;
}

/* Setting the width of the column up */
.table .up {
	width: 60px;
}

.blueup {
    color: #3BA3D0;
    display: inline;
}
#greendown {
    color: #38E156;
}

h4 {
	margin-top: 2px;
	margin-bottom: 10px;
}

h4.changepw {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Front page lists BEGIN */
.fp-list {
	border-bottom: solid 1px grey;
	padding: 10px;
	position: relative;

}

.fp-list .second-column {
	position: absolute;
	top: 10px;
	left: 45px;
	width: 65%;

}

.fp-list .third-column {
	position:absolute;
	right: 10px;
	top: 10px;
	text-align: right;
	width: 50%;
	height: 100%;
}

.fp-list #creator {
	position:absolute;
	bottom: 0px;
	right: 10px;
	text-align:right;
	padding-right: 0;
	margin-right: 0;
}
.fp-list #year {
	position:absolute;
	bottom: 0px;
	left: 45px;
	text-align:right;
}

.votes-req-page {
	position: absolute;
	top:0px;
	right:0px;
}

.login-noaccount {
    font-weight: normal;
    font-size: 11pt;
    color: white;
    padding-left: 17%;
}  
/*width for manage.cshtml*/
.col-md-3.tranreq-list.manage
{
    width: 35%;
}

.col-md-6.tranreq-list.manage
{
    width: 65%;
}

.top
{
    height: auto;
    max-height: 400px;
    overflow-y: auto;
}

.bottom
{
    height: auto;
    max-height: 600px;
    overflow-y: auto;
}

/*change password*/
.form-control.lykilord
{
    width:100%;
    margin-right:0;
}

.votes-req-page {
	position: absolute;
	top:5px;
	right:15px;
}


/*Create Request*/
.make-me-inline {
    display:inline;
}

.lysing-text-area {
    width:380px;
    height:100px;
    color:#ddd;
}

#lysing-p {
    margin-left: 89px;
}

#leikstjori-p {
    margin-left: 74px;
}

#titill-ib {
    width:380px;
    color:#ddd;
}

#utgafuar-ib {
    width:100px;
    color: #ddd;
}

#utgafuar-p {
    margin-left: 75px;
}

#leikstjori-ib {
    width:200px;
    color:#ddd;
}

.adalleikarar-text-area {
    width:380px;
    height:80px;
    color:#ddd;
}

#adalleikarar-p {
    margin-left: 55px;
}

.flokkar-header {
    margin:0px;
    padding:5px;
    font-size:18px;
}

#hlekkur-ib {
    width:660px;
    color:#ddd;
}

.Titill {
    margin-bottom:15px;
}

#titill-p {
    margin-left: 37px;
}

.Tungumal {
    display:inline;
    margin-left: 120px;
}

.option-text {
    color: #ddd;
}

.Utgafuar {
    display:inline;
}

.Lysing {
    margin: 15px 0px;
}

.Leikstjori {
    margin-bottom: 15px;
}

.Adalleikarar {
    margin-bottom: 15px;
}

.Flokkar {
    float:right;
    border: 1px solid grey;
    padding: 15px 30px;
    margin-right:300px;
	
}

.Hlekkur {
    display: inline;
}

fieldset {
    border:1px solid grey;
    padding: 20px;
}

.vista-beidni {
    margin-right:50px;
    float:right;
}

#original-text {
    width: 660px;
    height: 300px;
    margin-left: 3px;
}

.Upprunaleg-thyding {
    margin: 15px 0px;
}
/* View and Edit Subtitles and Requests*/
.flokkar-view-edit {
	padding: 15px;
}

.flokkar-view-edit label {
	padding-right: 10px;
}

.request-box #user, .subtitle-box #user{
	padding-left: 15px;
		font-size: 1.2em;
}

.request-box #year, .subtitle-box #year {
	padding-left: 15px;

}

.request-box #lang, .subtitle-box #lang {
	padding-left: 15px;
	font-size: 1.2em;
}
.request-box #description label, .subtitle-box #description label {
	margin: 0;
	padding: 0;
}


.request-box #description, .subtitle-box #description {
	position:absolute;
	top:55px;
	right:15px;
	width:400px
}

.subtitle-box {
	border: solid 1px grey;
	margin-top: 11px;
    padding: 0px;
	height:333px;
    width: 100%;
    background: #333;
	position:relative;
}

.request-box {
	border: solid 1px grey;
	margin-top: 11px;
    padding: 0px;
	height:250px;
    width: 100%;
    background: #333;
	position:relative;
}

.field-desc {
	font-weight: bold;
}

.request-box #user #username {
	padding-left: 15px;
}

.request-box #lang #language-with-flag {
	padding-left: 67px;
}
.request-box input[type=button] {
	position:absolute;
	right:15px;
	bottom:15px;
}

.subtitle-box #download {
	position:absolute;
	right:15px;
	bottom:15px;
}
.subtitle-box .info {
	padding-left: 0px;
	margin-left:-12px
}

.subtitle-box .info .col-md-2, .request-box .info .col-md-2{
	text-align:right;
	font-weight:bold;
}


.request-box .info {
	padding-left: 0px;
	margin-left: -20px;
}

.subtitle-box #edit-subtitle {
	position:absolute;
	right:95px;
	bottom:15px;
}

.subtitle-box .info [name=actors],
.subtitle-box .info [name=director],
.subtitle-box .info [name=link] {
	width: 30%
}

.subtitle-box .info [name=year] {
	width: 80px
}