body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
h1 {
	display:inline;
	font-weight:bold;
	vertical-align:central;
}

.shared-header {
	margin: 0px 100px 0px 100px;
	background-color: lightgrey;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border: solid grey 1px;
}

.shared-header img {
	margin: 10px;
}

#shared-menu li {
display: inline;
list-style-type: none;
font-weight:bold;
}

#shared-menu {
	border-top: solid black 1px;
}

/* User in header */
.logged-out-list {
	float: right;
	padding-top:10px;
}
.logged-out-list li {
	display: inline;
	list-style-type: none;
}

.logged-in-list {
	float: right;
	padding-top:10px;
}

.logged-in-list li {
	display: inline;
	list-style-type: none;
	padding-left: 15px;
	padding-right:12px;
}

#shared-menu .col-md-3 {
	border-right: solid 1px black;
}