@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Þýðing fannst ekki";
}

<h1 class="text-danger">Þýðing fannst ekki.</h1>
<h2 class="text-danger">Ekki fannst sú þýðing sem þú leitaðir að. Afsakið þetta.</h2>

