<div class="fp-list">
	<div class="first-column">
		<div>▲</div> <div>45</div>
		<img src="http://www.placekitten.com/20/15" alt="Flag" />
	</div>

	<div class="second-column">
		<h4>fjdkslaæfjioeajfioeajfioeæajfpoesjffdsklfjdsklfjklsdjfkla jfkdlsjfkldsajfkldsfjkdslajfklklsa</h4>
		
	</div>
	<p id="year">Útgáfuár: </p>
	<div class="third-column">
		<input type="button" name="download" value="Niðurhala" />
		<p id="creator">Stofnandi: </p>
	</div>
</div>