<div class="search-dialog">
	<form action="#" method="GET">
		<p class="box-title">Leita að þýðingum</p>
		<div class="search-dialog-left">
			<input type="text"
				   name="searchValue"
				   id="search-box"
				   placeholder="Leita að þýðingum" />

			<input type="submit" name="searchButton" value="Leita" />
			<div>
				<input type="checkbox" id="genre1" />
				<label for="genre1">Hasar</label>

				<input type="checkbox" id="genre2" />
				<label for="genre2">Gaman</label>

				<input type="checkbox" id="genre3" />
				<label for="genre3">Drama</label>

				<input type="checkbox" id="genre4" />
				<label for="genre4">Vísindaskáldskapur</label> <br />

				<input type="checkbox" id="genre5" />
				<label for="genre5">Heimildar</label>

				<input type="checkbox" id="genre6" />
				<label for="genre6">Ævintýra</label>

				<input type="checkbox" id="genre7" />
				<label for="genre7">Vestri</label>

				<input type="checkbox" id="genre8" />
				<label for="genre8">Spennutryllir</label>
			</div>
		</div>
		<div class="search-dialog-right">
			<h4>Finna út frá útgáfutímabili</h4>
			<label for="yearFrom">Frá:</label>
			<input type="text" id="yearFrom" />

			<label for="yearTil">Til:</label>
			<input type="text" id="yearTo" />
		</div>
	</form>
</div>