@Html.ActionLink("Opna breyta þýðingu síðuna", "EditSubtitle", "Subtitle")
<table class="table table-striped">
	<thead>
		<tr>
			<th class="min">Upp</th>
			<th>Titill</th>
			<th class ="min">Útgáfuár</th>
			<th>Tungumál</th>
			<th>Stofnandi</th>
			<th class ="min">Niðurhöl</th>
			<th class="min">Niðurhala</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var subtitle in Model.modelList)
		{
			<tr>
				<td align="center"><p class="blueup">▲</p> @subtitle.Votes.Count</td>
				<td>@Html.ActionLink((string)subtitle.Name, "ShowSubtitle", new { controller = "Subtitle", id = subtitle.IdSubtitle }, "Subtitle")</td>
				<td>@subtitle.YearCreated</td>
				<td>@subtitle.Language.Name</td>
				<td>UserName</td> <!--subtitle.AspNetUsers.FirstOrDefault().UserName virkar ekki!-->
				<td>Niðurhöl</td>
				<td align="right"><input type="button" name="stofna" value="Niðurhala" /></td>
			</tr>
		}
	</tbody>
</table>
