@Html.ActionLink("Opna breyta þýðingu síðuna", "EditSubtitle", "Subtitle")
<table class="table table-striped">
	<thead>
		<tr>
			<th>Upp</th>
			<th>Titill</th>
			<th>Útgáfuár</th>
			<th>Tungumál</th>
			<th>Stofnandi</th>
			<th>Hala</th>
			<th>Niðurhöl</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var sub in Model.modelList)
		{
			<tr>
				<td align="center"><p class="blueup">▲</p></td>
				<td>@Html.ActionLink((string)sub.Name, "ShowSubtitle", new { controller = "Subtitle", id = sub.IdSubtitle }, "Subtitle")</td>
				<td>@sub.YearCreated</td>
				<td>@sub.Language.Name</td>
				<td>UserName</td>
				<td id="greendown">▼</td>
				<td>Niðurhöl</td>
			</tr>
		}
	</tbody>
</table>
