<div class="search-dialog">
	<form action="#" method="GET">
		<p class="box-title">Leita að þýðingum</p>
		<div class="search-dialog-left">
			<input type="text"
				   name="searchValue"
				   id="search-box"
				   placeholder="Leita að þýðingum" />

			<input type="submit" name="searchButton" value="Leita" />
			<div class="flokkar">
				<input type="checkbox" id="genre1" />
				<label for="genre1">Flokkur 1</label>

				<input type="checkbox" id="genre2" />
				<label for="genre2">Flokkur 2</label>

				<input type="checkbox" id="genre3" />
				<label for="genre3">Flokkur 3</label>

				<input type="checkbox" id="genre4" />
				<label for="genre4">Flokkur 4</label> <br />

				<input type="checkbox" id="genre5" />
				<label for="genre5">Flokkur 5</label>

				<input type="checkbox" id="genre6" />
				<label for="genre6">Flokkur 6</label>

				<input type="checkbox" id="genre7" />
				<label for="genre7">Flokkur 7</label>

				<input type="checkbox" id="genre8" />
				<label for="genre8">Flokkur 8</label>
			</div>
		</div>
		<div class="search-dialog-right">
			<h4>Finna út frá útgáfutímabili</h4>
			<label for="yearFrom">Frá:</label>
			<input type="text" id="yearFrom" />

			<label for="yearTil">Til:</label>
			<input type="text" id="yearTo" />
		</div>
	</form>
</div>