<div class="search-dialog">
    @using(Html.BeginForm("Search", "Search")){
        <div class="search-dialog-left">
            <input type="text"
                   name="searchValue"
                   id="search-box"
                   placeholder="Leita að þýðingum" />
            <input type="submit" class="btn btn-default downloadbtn" name="searchButton" value="Leita" />
            <div class="flokkar">
                <input type="checkbox" id="genre1" name="Kvikmyndir" />
                <label for="genre1">Kvikmyndir</label>

                <input type="checkbox" id="genre2" name="Þættir"/>
                <label for="genre2">Þættir</label>

                <input type="checkbox" id="genre3" name="Barnaefni"/>
                <label for="genre3">Barnaefni</label>

                <input type="checkbox" id="genre4" name="Heimildir"/>
                <label for="genre4">Heimildir</label><br />

                <input type="checkbox" id="genre5" name="Gaman"/>
                <label for="genre5">Gaman</label>

                <input type="checkbox" id="genre6" name="Spenna"/>
                <label for="genre6">Spenna</label>

                <input type="checkbox" id="genre7" name="Drama"/>
                <label for="genre7">Drama</label>

                <input type="checkbox" id="genre8" name="Ævintýri"/>
                <label for="genre8">Ævintýri</label>
            </div>
        </div>
        <div class="search-dialog-right">
            <h4>Finna út frá útgáfutímabili</h4>
            <label for="yearFrom">Frá:</label>
            <input type="text" id="yearFrom"
                   placeholder="Ár"
                   maxlength="4"
                   name="StartYear" />

            <label for="yearTil">Til:</label>
            <input type="text" id="yearTo"
                   placeholder="Ár"
                   maxlength="4"
                   name="EndYear" />
            <br />
            <br />
            <label for="language">Tungumál: </label>
            <select name="language">
                <option value="Íslenska" selected>Íslenska</option>
                <option value="Enska">Enska</option>
            </select>
        </div>
    }
</div>
