@Html.ActionLink("Opna þýðingu síðuna", "ShowSubtitle", "Subtitle")
<table class="table table-striped">
	<thead>
		<tr>
			<th>Upp</th>
			<th>Titill</th>
			<th>Útgáfuár</th>
			<th>Tungumál</th>
			<th>Stofnandi</th>
			<th>Hala</th>
			<th>Niðurhöl</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var sub in Model.modelList)
		{
			<tr>
				<td align="center">▲ </td>
				<td>@sub.Name</td>
				<td>@sub.YearCreated</td>
				<td>User</td>
				<td>@sub.Language.Name</td>
				<td>▼</td>
				<td>NOT IMPL</td>
			</tr>
		}
	</tbody>

</table>
