@Html.ActionLink("Opna beiðni síðuna", "ShowRequest", "Request")
<table class="table table-striped">
	<thead>
		<tr>
			<th class="up" align="center">Upp</th>
			<th>Titill</th>
			<th class ="min" align="center">Útgáfuár</th>
			<th>Tungumál</th>
			<th>Stofnandi</th>
			<th class="min" align="right">Stofna þýðingu</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var request in Model.modelList)
		{
			<tr>
				<td align="center">▲ bla</td>
				<td>@request.Name</td>
				<td>@request.YearCreated</td>
				<td>Tungumál</td>
				<td>UserName</td>
				<td align="right"><input type="button" name="stofna" value="Stofna þýðingu" /></td>
			</tr>
		}
	</tbody>
</table>