<div class="search-dialog">
	<form action="#" method="GET">
		<div class="search-dialog-left">
			<input type="text"
				   name="searchValue"
				   id="search-box"
				   placeholder="Leita að þýðingum" />
			<input type="submit" name="searchButton" value="Leita" />
			<div class="flokkar">
				<input type="checkbox" id="genre1" />
				<label for="genre1">Kvikmyndir</label>

				<input type="checkbox" id="genre2" />
				<label for="genre2">Þættir</label>

				<input type="checkbox" id="genre3" />
				<label for="genre3">Barnaefni</label>

				<input type="checkbox" id="genre4" />
				<label for="genre4">Heimildir</label><br />

				<input type="checkbox" id="genre5" />
				<label for="genre5">Gaman</label>

				<input type="checkbox" id="genre6" />
				<label for="genre6">Spenna</label>

				<input type="checkbox" id="genre7" />
				<label for="genre7">Drama</label>

				<input type="checkbox" id="genre8" />
				<label for="genre8">Ævintýri</label>
			</div>
		</div>
		<div class="search-dialog-right">
			<h4>Finna út frá útgáfutímabili</h4>
			<label for="yearFrom">Frá:</label>
			<input type="text" id="yearFrom"
                   placeholder="Ár"
                   maxlength="4" />

			<label for="yearTil">Til:</label>
			<input type="text" id="yearTo"
                   placeholder="Ár"
                   maxlength="4" />
		</div>
	</form>
</div>