<table class="table table-striped">
	<thead>
		<tr>

			<th align="center">Upp</th>
			<th>Titill</th>
			<th>Útgáfuár</th>
			<th>Tungumál</th>
			<th>Stofnandi</th>
			<th align="right">Stofna þýðingu</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < 10; i++)
		{
			<tr>
				<td align="center">▲ 9</td>
				<td>Anchorman 2, The Legend Continues</td>
				<td>2014</td>
				<td>Íslenska</td>
				<td>Notandanafn</td>
				<td align="right"><input type="button" name="stofna" value="Stofna þýðingu" /></td>
			</tr>
		}
	</tbody>

</table>
