@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Aðgerð mistókst";
}
<div class="errorBody">
    <p><h1 id="firstError" class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> 404</h1></p>
    <h1 class="text-danger">Síðasta aðgerð mistókst</h1>
    <h2 id="secondError" class="text-danger">Ekki tókst að framkvæma það sem þú vildir gera, sorry <span class="glyphicon glyphicon-heart"></span></h2>
    <a href="@Url.Content("/")"><img id="logo" src="~/Content/Pictures/rooster.png" alt="Logo Skermstafa" width="80" /></a>
    <h3 id="thirdError">Ýttu á hanann til að fara aftur á forsíðuna!</h3>
</div>