@{
    ViewBag.Title = "Leiðbeiningar";
}

<h2>Leiðbeiningar</h2>
<!-- we should embed youtube video explaining this -->
<p>
    Hér eru leiðbeiningar um hvernig hægt er að tengja .srt skrá við video þannig að spilara forritið þitt finni skránna og bæti textanum við myndinna
    <br />Myndir sem fylgja leiðbeiningum nota VLC Media Player og við mælum með að nota þann spilara. hægt er að hala honum niður <a href="http://www.videolan.org/vlc/">Hér</a>
</p>
<table>
    <tbody>
        <tr>
            <td>
                <h3>Skref 1</h3>
                <img src="http://placekitten.com/200/200" alt="VideoName.mkr and VideoName.srt in the same folder" align="left" />
                <p>
                    Vertu viss um að SRT skráin og myndbandsskráin eru í sömu möppu.
                    Þetta getur verið hvaða mappa sem er, svo lengi sem þessar tvær skrár eru í sömu möppu.
                    Á þessum tímapunkti skaltu gefa .srt skránni sama nafn og videoið þitt ( sjá dæmi hér til hliðar )<br /> <br />
                    sumir spilarar eins og VLC munu á þessum tímapunkti finna skránna.
                </p>
            </td>

        </tr>
        <tr>
            <td>
                <h3>Skref 2</h3>
                <img src="http://placekitten.com/200/200" alt="Mynd fyrir skref 2" align="left" />
                <p>
                    Opnaðu myndbandsspilaran sem þú ætlar að horfa á, en hann verður að geta spilað bæði myndbandsskrána og SRT skrána á sama tíma.<br />
                    Dæmi um myndbandsspilara væri td. VLC Media Player.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Skref 3</h3>
                <img src="http://placekitten.com/200/200" alt="mynd fyrir skref 3" align="left" />
                <p>
                    Smelltu á "File.", Smelltu á "Open Folder." Notaði "Open Folder" dialog boxið til að vafra í möppunni sem inniheldur myndbandskrá og SRT skrá. Tvísmelltu á möppu táknið.
                    Þín myndbandskrá og SRT skrá mun núna spila í þeim myndbandsspilara sem er í notkun.
                </p>
            </td>
        </tr>
    </tbody>
</table>
