@{
    ViewBag.Title = "Leiðbeiningar";
}

<!-- we should embed youtube video explaining this -->
<p style="font-size: 18px; padding-top: 30px; padding-bottom: 10px; text-align: center">
    Hér eru leiðbeiningar um hvernig hægt er að tengja skjátexta við myndefni.
    <br />Myndir sem fylgja leiðbeiningum nota VLC Media Player og við mælum með að nota þann spilara. Hægt er að hala honum niður <a href="http://www.videolan.org/vlc/">Hér</a>
</p>
<div>
    <table>
        <tbody>
            <tr style="border: 1px solid grey">
                <td>
                    <img src="~/Content/Pictures/skref1.jpg" alt="VideoName.mkr and VideoName.srt in the same folder" align="left" width="350" style="padding: 15px" />
                    <h3 style="margin-left: 390px">Skref 1</h3>
                    <p style="margin-left: 390px">
                        Eftir að hafa halað niður þýðingunni á .srt formi <a href="http://videosubtitles.wordpress.com/2012/11/02/subrip-srt-subtitle-format/" target="_blank">(Hvað er .srt?)</a> skaltu vera viss um að .srt skráin og myndbandsskráin séu í sömu möppu. 
                        þetta getur verið hvaða mappa sem er, svo lengi sem þessar tvær skrár eru í sömu möppu. <br />
                        Á þessum tímapunkti skaltu gefa .srt skránni sama nafn og myndbandsskráin.<br />
                        Sumir spilarar eins og VLC munu á þessum tímapunkti finna skrána. Ef þú ert að nota VLC stökktu þá í skref 5.
                    </p>
                </td>
            </tr>
            <tr style="border: 1px solid grey">
                <td>
                    <img src="~/Content/Pictures/skref2.jpg" alt="Mynd fyrir skref 2" align="left" width="350" style="padding: 15px" />
                    <h3 style="margin-left: 390px">Skref 2</h3>
                    <p style="margin-left: 390px">
                        Tvísmelltu á myndbandsskrána og spilarinn þinn mun byrja að spila myndefnið.
                    </p>
                </td>
            </tr>
            <tr style="border: 1px solid grey">
                <td>
                    <img src="~/Content/Pictures/skref3.jpg" alt="mynd fyrir skref 3" align="left" width="350" style="padding: 15px" />
                    <h3 style="margin-left: 390px">Skref 3</h3>
                    <p style="margin-left: 390px">
                        Smelltu á "Media" eða "File" í spilaranum þínum, það fer eftir spilara sem þú ert að nota, smelltu svo á "Open Folder".
                    </p>
                </td>
            </tr>
            <tr style="border: 1px solid grey">
                <td>
                    <img src="~/Content/Pictures/skref4.jpg" alt="mynd fyrir skref 4" align="left" width="350" style="padding: 15px" />
                    <h3 style="margin-left: 390px">Skref 4</h3>
                    <p style="margin-left: 390px">
                        Í kassanum sem birtist skaltu finna möppuna þar sem myndin þín er geymd og velja hana eins og sést á skýringarmyndinni hér til hliðar.
                    </p>
                </td>
            </tr>
            <tr style="border: 1px solid grey">
                <td>
                    <img src="~/Content/Pictures/skref5.jpg" alt="mynd fyrir skref 5" align="left" width="350" style="padding: 15px" />
                    <h3 style="margin-left: 390px">Skref 5</h3>
                    <p style="margin-left: 390px">
                        Næst hægri smelliru á myndina, finnur þar "subtitle", ferð í "sub track" og smellir svo á "Track 1". Eins og sést á skýringarmyndinni hér til hliðar.
                    </p>
                </td>
            </tr>
            <tr style="border: 1px solid grey">
                <td>
                    <img src="~/Content/Pictures/skref6.jpg" alt="mynd fyrir skref 6" align="left" width="350" style="padding: 15px" />
                    <h3 style="margin-left: 390px">Skref 6</h3>
                    <p style="margin-left: 390px">
                        Nú geturðu horft á myndbandsskrána með textanum sem þú varst að sækja.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
