@{
    ViewBag.Title = "Leiðbeiningar";
}

<h2>Leiðbeiningar</h2>
<!-- we should embed youtube video explaining this -->
<p>
    Hér eru leiðbeiningar um hvernig hægt er að tengja .srt skrá við video þannig að spilara forritið þitt finni skránna og bæti textanum við myndinna
    <br />Myndir sem fylgja leiðbeiningum nota VLC Media Player og við mælum með að nota þann spilara. hægt er að hala honum niður <a href="http://www.videolan.org/vlc/">Hér</a>
</p>
<div style="border: 1px solid; padding: 5px">
    <table>
        <tbody>
            <tr>
                <!-- gera grein fyrir download skrefinu -->
            </tr>
            <tr>
                <td>
                    <h3>Skref 1</h3>
                    <img src="~/Content/Pictures/skref1.jpg" alt="VideoName.mkr and VideoName.srt in the same folder" align="left" width="600" />
                    <p>
                        Vertu viss um að SRT skráin og myndbandsskráin eru í sömu möppu.
                        Þetta getur verið hvaða mappa sem er, svo lengi sem þessar tvær skrár eru í sömu möppu.
                        Á þessum tímapunkti skaltu gefa .srt skránni sama nafn og videoið þitt ( sjá dæmi hér til hliðar )<br /> <br />
                        sumir spilarar eins og VLC munu á þessum tímapunkti finna skránna.
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <h3>Skref 2</h3>
                    <img src="~/Content/Pictures/skref2.jpg" alt="Mynd fyrir skref 2" align="left" width="600" />
                    <p>
                        Tvísmeltu á videoið og spilarinn þinn mun byrja að spila videoið
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Skref 3</h3>
                    <img src="~/Content/Pictures/skref3.jpg" alt="mynd fyrir skref 3" align="left" width="600" />
                    <p>
                        Smelltu á "Media" eða "File" það fer eftir spilara sem þú ert að nota, Smelltu á "Open Folder."
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Skref 4</h3>
                    <img src="~/Content/Pictures/skref4.jpg" alt="mynd fyrir skref 3" align="left" width="600" />
                    <p>
                        Í kassanum sem birtist skaltu finna möppuna þar sem myndin þín er geymd og velja hana eins og sést á myndinni hér til hliðar
                    </p>
                </td>
            </tr>
            <!-- sýna loka afurð -->
        </tbody>
    </table>
</div>
