@model Skermstafir.Models.SubtitleModelList
@{
	ViewBag.Title = "Skjátextar";
}

@Html.Partial("_SearchSubtitles")

@if (Request.IsAuthenticated)
{
    <button type="button" class="btn btn-default downloadbtn" onclick="location.href='@Url.Action("CreateSubtitle", "Subtitle")'">
        <p>Stofna þýðingu</p>
    </button>
}
@Html.Partial("_SearchResultSubtitles")