@model Skermstafir.Models.RequestModelList
@{
    ViewBag.Title = "Skjátextar";
}

@Html.Partial("_SearchRequests")
<h4>Beiðnir</h4>
<button type="button"
		class="btn btn-default downloadbtn"
		onclick="location.href='@Url.Action("CreateSubtitle", "Subtitle")'">Stofna þýðingu</button>
<button type="button"
		class="btn btn-default downloadbtn"
		onclick="location.href='@Url.Action("OrderReqByDateAsc", "Request")'">Raða eftir dagsetningu ▼</button>

@Html.Partial("_SearchResultRequests")
