@model Skermstafir.Models.SubtitleModelList
@{
    ViewBag.Title = "Skjátextar";
}

@Html.Partial("_SearchSubtitles")
<h3 align="center">Þýðingar</h3>
<div hidden id="ascending" data-ascdesc="cba"></div>
<div class="make-me-relative">
    <button type="button"
            class="btn btn-default downloadbtn"
            onclick="location.href='@Url.Action("CreateSubtitle", "Subtitle")'">
        Stofna þýðingu
    </button>
    <button type="button"
            class="btn btn-default downloadbtn rada-eftir-dags"
            onclick="location.href='@Url.Action("OrderSubByDateAsc", "Search")'">
        Raða eftir dagsetningu ▼
    </button>
</div>

@Html.Partial("_SearchResultSubtitles")
