@model Skermstafir.Models.SubtitleModelList
@{
    ViewBag.Title = "Skjátextar";
}

@Html.Partial("_SearchSubtitles")

<div class="make-me-relative">
	<button type="button" class="btn btn-default downloadbtn" onclick="location.href='@Url.Action("CreateRequest", "Request")'">
		<p>Stofna beiðni</p>
	</button>
	<button type="button"
			class="btn btn-default downloadbtn rada-eftir-dags"
			onclick="location.href='@Url.Action("OrderReqByDateDesc", "Request")'">
		Raða eftir dagsetningu
	</button>
</div>

@Html.Partial("_SearchResultSubtitles")
